<html>
<head>
  <title> Servidor web en {{ ansible_hostname }} </title>
</head>
<body>

<p> Mi nombre es {{ ansible_fqdn }}
<p> La distribución es {{ ansible_distribution }} version {{ ansible_distribution_version }} </title>
<p> El autor es {{ AUTOR }}
<p> Soy hincha de {{ EQUIPO_DE_FUTBOL }}

</body>
</html>
